@model IEnumerable<GymTrack.Models.ExerciseDayProgram>

@{
    ViewBag.Title = "ExerciseDayProgram";
}

<h2>Daily Exercise Programs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseDayName)
        </th>
        <th></th>
    </tr>

    @foreach (var group in Model.GroupBy(item => item.ExerciseDayName))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => group.Key)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = group.Key})
            </td>
        </tr>
        
    }

</table>

